name: build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

  workflow_dispatch:

env:
  OSS_USER: '${{ secrets.OSS_USER }}'
  OSS_TOKEN: '${{ secrets.OSS_TOKEN }}'
  OSS_STAGING_PROFILE_ID: '${{ secrets.OSS_STAGING_PROFILE_ID }}'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Build and test with Gradle
        uses: gradle/gradle-build-action@v2.11.1
        with:
          arguments: build

#      - name: Publish snapshot
#        if: ${{ (github.event_name == 'push') || (github.event_name == 'workflow_dispatch') }}
#        run: ./gradlew publishToSonatype "-Psemver.stage=snapshot"

      - name: Stop Gradle daemons
        run: ./gradlew --stop
